
body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./image/wp2903024-starwars-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    min-width: 350px;
    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    background-size: contain;
    width: 100vw;
    height: 25vh;
}
#inputBlock{
    width: 35vw;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
input {
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 2px solid black;
}
#arrows{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-around;
}

#left{
    background-color: #f1f1f1;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline: none;
}
#left:hover{
    background-color: black;
    color: white;
}
#right{
    background-color: #f1f1f1;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline: none;
}
#right:hover{
    background-color: black;
    color: white;
}
#button{
    background-color: #f1f1f1;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline: none;
}
#button:hover{
    background-color: black;
    color: white;
}

#names{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    
}
#names_left{
    width: 50%;
    padding-left: 8vw;
}
#names_right{
    width: 50%;
}

main{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    height: auto;
    background: black;
    opacity: 0.7;
}
.planets{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
}
.planets div{
    width: auto;
    margin-top: 15px;
    margin-left: 5vw;
    text-align: start;
}
.container{
    width: 70%;
    height: 60vh;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x:hidden;
    border-left: 1px white solid;
}
.container div{
    min-width: 175px;
    width: 20%;
    margin-left: 90px;
    margin-right: 10px;
    margin-top: 10px;
}
img{
    height: 88px;
    width: 88px;
    float: left;
    margin-right: 5px;
}
p{
    min-width: 162px;
    display: flex;
    justify-content: flex-start;
    width: 20vw;
}